.tip_container{
	overflow:hidden;
}
.tw-bs .form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
}
.tw-bs .form-horizontal .control-group:before,
.tw-bs .form-horizontal .control-group:after {
  display: table;
  content: "";
}
.tw-bs .form-horizontal .control-group:after {
  clear: both;
}
.tw-bs .form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.tw-bs .form-horizontal .controls {
  margin-left: 160px;
}
.tw-bs .form-horizontal .form-actions {
  padding-left: 160px;
}
.tw-bs .form-horizontal .control-label {
float: left;
width: 140px;
padding-top: 5px;
text-align: right;
}
.tw-bs .form-horizontal .control-group {
margin-bottom: 18px;
}
.borderofblock{
	border:1px dashed #ccc;
}
.slide_sign{
	font-size:20px;
	font-weight:bold;
	display:inline;
	margin-left:10px;
}
.block{
	display:none;
}
.control-group  legend{
	cursor:pointer;
}
.tw-bs legend{
	margin-bottom: 0px !important;
}
#ssdd-open span, #ssdd-open {
	width:100px;
}